html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.scene {
	width: 40em;
	height: 30em;
	background-color: black;
	background-image: url("media/autumn-forest.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
	/* must be relative so that child percentages work,
	for containing block reasons */
	z-index: 0;
}

summary {
	list-style: none;
	box-sizing: border-box;
	width: 100%;
	height: 100%;/*30%;*/
	position: absolute;
	font-family: monospace;
	display: none;
	font-size: 1.4em;
	cursor: default;
	user-select: none;
}

details[open] {
	display: none;
}

details[open] + details > summary {
	display: block;
}

.sum1{z-index: -1;}
.sum2{z-index: -2;}
.sum3{z-index: -3;}

details[open] + details:not([open]) + details > summary, .d0:not([open]) + details > summary {
	display: block;
	opacity: 0%;
}

.sum0 {
	background-color: black;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.textrow {
	position: relative;
	display: inline-block;
}

div.profile {
	position: absolute;
	left: 5%;
	bottom: 35%;
	display: flex;
	align-items: flex-end;
}

div.portrait {
	height: 5em;
	width: 5em;
	background-color: gray;
	display: inline-block;
}

div.name {
	background-color: #740;
	color: white;
	font-size: 1.5em;
	display: inline-block;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.portrait + .name {
	left: 20%;
}

.vriska > .portrait {
	height: 238px;
	width: 187px;
	background-color: unset;
	background-image: url("media/vriska-idle.gif");
	position: relative;
	left: -30px;
}

.vriska > .name {
	background-color: #005682;
	position: relative;
	left: -45px;
}

.dialogbox {
	width: 90%;
	height: 30%;
	bottom: 5%;
	left: 5%;
	padding: 3%;
	position: absolute;
	background-color: tan;
}

span {
	overflow: hidden;
	white-space: nowrap;
	display: inline-block;
}

span.dummy {
	opacity: 0%;
	line-height: 1.2;
}

span.dialogue {
	width: 0;
	transition: width 0s;
	transition-timing-function: linear;
	position: absolute;
	left: 0%;
	line-height: 1.2;
}

details[open] + details span.dialogue {
	width: 100%;
}

details[open] + details .s1 {
	transition-duration: 0.25s;
}

details[open] + details .s2 {
	transition-duration: 0.975s;
}

details[open] + details .s3.line1 {
	transition-duration: 0.9s;
}

details[open] + details .s3.line2 {
	transition-duration: 0.825s;
	transition-delay: 0.9s;
}